body {
    background-image: url(/imagens/backGround_Login.png);
    text-align: center;
    position: absolute;
    width:100%;
}

.formularioLogin {
    margin-top: 90px;
    color: white;
    display: inline-block;
    position: relative;
}

.login {
    margin: 2px 0px 2px 0px;
    color: red;
}
