.dark-mode{
    color: white;
}

body {
    background-color: black;    
}

.edit-body {
    display: grid;
    background-color: beige; 
    margin: 0px 50px; 
    
}

.edit-body span#username_text {

}

.table-data-profile td input{
    size: 20px;
}

.profileIcon {
    margin: -36px 0px 0px 1010px;
    padding: 5px;
}

.profile-informations {
    text-align: center;
}

.text-field {
    text-align: center;
    padding: 2px;
    margin: 5px;
}